/*Стили для компонента MainPageHeader*/

/* Стили для всего хедера*/
.containerHeader {
  display: flex;
  background-color: #93C572;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*Стили для контйнера лого с названием*/
.logoContainer {
  flex: 1;
  align-items: center;
  display: flex;

}

/*Стили для картинки лого */
.Logophoto {
  width: 13%;
  height: auto;
  margin-left: 30px;
}

/*Стили для названия компании */
.Logo {
  width: 30%;
  height: auto;
  margin-left: 5px;
}


/*Стили для контейнера с меню*/
.menu {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-right: 2vw;
}

.menuItem {
  position: relative;
  display: inline-block;

}

/*Стили для кнопок меню */
.menubtn {
  min-width: 130px;
  background-color: #F5F5DC;
  color: #678F4E;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid #678F4E;
  font-size: 14px;
}

.menu a {
  display: block;
  text-align: center;
  padding: 10px;
}

.menubtn:hover {
  background-color: #678F4E;
  color: white;
  transform: translateY(-2px);
  border: 2px solid white;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 130px;
  list-style-type: none;
  background-color: #F5F5DC;
  padding: 3px;
  font-size: 14px;
  margin-top: 1px;
  border-radius: 10px;
  border: 2px solid #678F4E;
}

.menuItem:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 0 8px;
}

.dropdown li a {
  text-decoration: none;
  color: #678F4E;
  font-weight: bold;
  line-height: 1;
  /* Минимальное расстояние между строками */
}

.dropdown li a:hover {
  background-color: #678F4E;
  color: white;
  border-radius: 15px;
  border: 2px solid white;
}

.h {
  width: 100%;
  height: 5px;
  background-color: white;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #F5F5DC;
}


/******MAINPAGEPHOTO**********/
.h2 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
}

.carousel {
  display: flex;
  background-color: #F5F5DC;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.carouselTrack {
  display: grid;
  transition: transform 0.5s ease-in-out;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin: 0 10px 20px 10px;
}

.image {
  min-width: 260px;
  max-height: 150px;
  border-radius: 10px;
}

.dots {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgb(200, 198, 198);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s;
}

.dot.active {
  background-color: #678F4E;
}

/************MAINPAGEBODY*******************/

.containerBody {
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  background-color: #F5F5DC;
 
}

.leftcolumn{
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.searchInput  {
  margin: 10px ;
  border-radius: 6px;
  width:350px;
  padding: 5px;
  border: 2px solid #93C572;
  background-color: rgb(248, 246, 246);
}

.searchInput:hover {
  border: 2px solid #678F4E;
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.calendar button {
  margin-bottom: 15px;
  font-weight: bold;
}

.calendar select {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #678F4E;
  background-color: rgb(248, 246, 246);
}

.calendar select option:hover {
  background-color: green !important;
}

.today {
  background-color: #93C572 !important; /* Зеленый фон */
  color: white !important; /* Белый текст */
  border-radius: 40%; /* Круглая форма */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/*********MainPageBodyNews*******************/

.news {
  margin-top: 40px;
}

.news h3 {
  font-size: 1.5rem;
  color: #678F4E;
  margin-bottom: 15px;
}

.newsitem {
  background: #FFFFFF;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.newsitem h4 {
  font-size: 1.2rem;
  color: #678F4E;
}

.newsitem p {
  color: #666;
  margin: 10px 0;
}

.newsitem a {
  color: #FF6347;
  text-decoration: none;
  font-weight: bold;
}

.newsitem a:hover {
  text-decoration: underline;
}


/***Body right****/
.rightcolumn {
  display: flex;
  width: 70%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-direction: column;
  margin: 20px 20px 20px 0;
  background-color: white;
  border-radius: 10px;
}


.container{
  display: flex;
  /* width: 100%; */
  flex-direction: column;
}

.categorycontainer {
  display: flex;
  gap: 10px;
  margin: 0 20px 0 20px;
  overflow-x: auto; /* Горизонтальная прокрутка */
  scroll-snap-type: x mandatory; /* Притягивание элементов при скролле */
  padding: 10px;
  /* white-space: nowrap;  */
}

.h2Country {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
}

/* .categoryitem {
  position: relative;
  overflow: hidden; /* Чтобы изображение не выходило за границы */
  /* border-radius: 8px; */
/*} */

.categoryimage {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
  /* margin-bottom: 10px; */
}


.categorytext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}

.categoryitem:hover .categoryimage {
  transform: scale(1.1); /* Увеличение на 10% при наведении */
}

.noHighlight {
  background-color: transparent !important; /* Убираем закрашивание */
  color: inherit !important; /* Оставляем цвет текста по умолчанию */
}

.otherMonthDay {
  background-color: #f0f0f0 !important; /* Светло-серый фон */
  color: #a0a0a0 !important; /* Серый цвет текста для лучшей читаемости */
}

.categorylink {
  text-decoration: none;
  color: inherit;
}

.alphabetContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 5px;
  margin: 20px 20px 0 20px;
  justify-content: center;
  max-width: 100%; /* Ограничиваем ширину */
  overflow: hidden; /* Скрываем выходящие элементы */
  box-sizing: border-box; /* Учитываем padding и border в размере элемента */
  padding: 5px; /* Немного отступов, чтобы не прижималось к краям */
}

/* .menubtn {
  min-width: 130px;
  background-color: #F5F5DC;
  color: #678F4E;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid #678F4E;
  font-size: 14px;
} */

.alphabetLetter {
  background-color: #F5F5DC;
  border: 1px solid #678F4E;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  color: #678F4E;
  transition: background-color 0.3s ease;
}

.alphabetLetter:hover {
  background-color: #ddd;
}



