/************MAINPAGEBODY*******************/

.containerBody {
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  background-color: #F5F5DC;
}

.containerWithUs{
display: flex;
text-align: center;
flex-direction: column;
height: auto;
margin: 20px;
padding: 10px;
background-color: #93C572;
border-radius: 10px;
}

.containerWithUs h3{
  font-size: 24px;
  text-Align: center;
  font-family: Playwrite India, sans-serif;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.containerWithUs h4{
  font-size: 16px;
  text-Align: center;
  font-family: Playwrite India, sans-serif;
  /* color: #556B2F; */
  color: red;
  font-style: italic;
  font-weight: bold;
}

.containerWithUs p{
  font-size: 14px;
  text-Align: center;
}

.withuscontainer{
  display: flex;
  gap: 10px;
  margin: 0 20px 0 20px;
}

.withusitem {
  background: #FFFFFF;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  flex: 1 1 0; /* flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
}

.leftcolumn{
  display: flex;
  width: 25%;
  flex-direction: column;
  text-align: center;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.searchInput  {
  margin: 10px ;
  border-radius: 6px;
  width:350px;
  padding: 5px;
  border: 2px solid #93C572;
  background-color: rgb(248, 246, 246);
}

.searchInput:hover {
  border: 2px solid #678F4E;
}

.customCalendar span{
  font-size: 20px;
  font-weight: bold;
  color: #678F4E;
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.calendar button {
  margin-bottom: 15px;
  font-weight: bold;
}

.calendar select {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #678F4E;
  background-color: rgb(248, 246, 246);
}

.calendar select option:hover {
  background-color: green !important;
}

.today {
  background-color: #93C572 !important; /* Зеленый фон */
  color: white !important; /* Белый текст */
  border-radius: 40%; /* Круглая форма */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/*********MainPageBodyNews*******************/

.news {
  margin-top: 40px;
}

.news h3 {
  font-size: 1.5rem;
  color: #678F4E;
  margin-bottom: 15px;
}

.newsitem {
  background: #FFFFFF;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.newsitem h4 {
  font-size: 1.2rem;
  color: #678F4E;
}

.newsitem p {
  color: #666;
  margin: 10px 0;
}

.newsitem a {
  color: #FF6347;
  text-decoration: none;
  font-weight: bold;
}

.newsitem a:hover {
  text-decoration: underline;
}


/***Body right****/
.rightcolumn {
  display: flex;
  width: 70%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-direction: column;
  margin: 20px 20px 20px 0;
  background-color: white;
  border-radius: 10px;
}


.container{
  display: flex;
  /* width: 100%; */
  flex-direction: column;
}

.categorycontainer {
  display: flex;
  gap: 10px;
  margin: 0 20px 0 20px;
  overflow-x: auto; /* Горизонтальная прокрутка */
  scroll-snap-type: x mandatory; /* Притягивание элементов при скролле */
  padding: 10px;
  /* white-space: nowrap;  */
}

.h2Country {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
}

/* .categoryitem {
  position: relative;
  overflow: hidden; /* Чтобы изображение не выходило за границы */
  /* border-radius: 8px; */
/*} */

.categoryimage {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
  /* margin-bottom: 10px; */
}


.categorytext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}

.categoryitem:hover .categoryimage {
  transform: scale(1.1); /* Увеличение на 10% при наведении */
}

.noHighlight {
  background-color: transparent !important; /* Убираем закрашивание */
  color: inherit !important; /* Оставляем цвет текста по умолчанию */
}

.otherMonthDay {
  background-color: #f0f0f0 !important; /* Светло-серый фон */
  color: #a0a0a0 !important; /* Серый цвет текста для лучшей читаемости */
}

.categorylink {
  text-decoration: none;
  color: inherit;
}

.alphabetContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 5px;
  margin: 20px 20px 0 20px;
  justify-content: center;
  max-width: 100%; /* Ограничиваем ширину */
  overflow: hidden; /* Скрываем выходящие элементы */
  box-sizing: border-box; /* Учитываем padding и border в размере элемента */
  padding: 5px; /* Немного отступов, чтобы не прижималось к краям */
}

.alphabetLetter {
  background-color: #F5F5DC;
  border: 1px solid #678F4E;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  color: #678F4E;
  transition: background-color 0.3s ease;
}

.alphabetLetter:hover {
  background-color: #678F4E;
  color: white;
}

@media (max-width: 1500px) {
  .searchInput  {
    width:310px;
  }

}

@media (max-width: 1300px) {
  .searchInput  {
    width:270px;
  }

  .containerHeader {
    flex-direction: column; 
  }

  .withuscontainer {
    flex-direction: row; /* Элементы выстраиваются горизонтально */
    flex-wrap: nowrap; /* Отключаем перенос на новую строку */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Убираем вертикальную прокрутку */
    padding-bottom: 10px; /* Отступ снизу для скроллбара */
    gap: 10px; /* Расстояние между элементами */
    scroll-snap-type: x mandatory; /* Опционально: привязка скролла к элементам */
    -webkit-overflow-scrolling: touch; /* Плавная прокрутка на мобильных устройствах */
  }

  .withusitem {
    flex: 0 0 350px; /* Фиксированная ширина элемента, можно настроить */
    min-width: 0; /* Предотвращает переполнение контента */
    scroll-snap-align: start; /* Опционально: привязка к началу элемента */
  }
}

@media (max-width: 1200px) { /* Можно настроить breakpoint под ваши нужды */
  .containerBody {
    flex-direction: column; /* Меняем направление на вертикальное */
    gap: 0; /* Убираем отступы между элементами */
  }

  .leftcolumn {
    order: 2; /* Левая колонка становится второй */
    width: calc(100% - 40px); /* Учитываем отступы */
  }

  .rightcolumn {
    order: 1; /* Правая колонка становится первой */
    width: calc(100% - 40px); /* Учитываем отступы */
    margin: 20px;
  }
}

@media (max-width: 1100px) {
  .searchInput  {
    width:220px;
  }
}

@media (max-width: 900px) {
  .searchInput  {
    width:180px;
  }

  .text{
    font-size: 12px;
  }

}

@media (max-width: 450px) {
  .withusitem {
    flex: 0 0 300px;
  }
}

@media (max-width: 400px) {
  .withusitem {
    flex: 0 0 250px;
  }
}









 