.h2 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
}

.h {
  width: 100%;
  height: 5px;
  background-color: white;
  border: none;
}

.carousel {
  display: flex;
  background-color: #F5F5DC;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  overflow: hidden; /* Обрезает части изображения, выходящие за границы */
  border-radius: 12px; /* Должен совпадать с border-radius у изображения */
  scroll-snap-type: x mandatory;
}

.image {
  transition: transform 0.3s ease-in-out; /* Плавное увеличение */
  border-radius: 12px; /* Закругление углов */
}

.image:hover {
  transform: scale(1.05); /* Немного увеличивает изображение */
}

@media (max-width: 520px) {
  .image {
    width: 240px !important;
    height: 130px !important;
  }

  .carousel {
    height: 170px;
  }
}

@media (max-width: 480px) {
  .image {
    width: 230px !important;
    height: 120px !important;
  }

  .carousel {
    height: 160px;
  }
}

@media (max-width: 460px) {
  .image {
    width: 220px !important;
    height: 110px !important;
  }

  .carousel {
    height: 140px;
  }
}

@media (max-width: 400px) {
  .image {
    width: 210px !important;
    height: 100px !important;
  }
}


