/* Стили для всего хедера*/
.containerFooter {
  display: flex;
  background-color: #93C572;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.h {
  width: 100%;
  height: 2px;
  background-color: #678F4E;
  border: none;
}

/*Стили для контейнера с меню*/
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 30px 20px 30px 20px;
}

.text{
  font-size: 18px;
  font-weight: bold;
}

.menu li {
  padding: 5px;
}

.messenger{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

