.containerSearch {
    position: relative;
    background-color: #F5F5DC;
    text-align: center;
    justify-content: center;
    z-index: 980;
}

.h {
    width: 100%;
    height: 2px;
    background-color: #678F4E;
    border: none;
}

.search {
    display: flex;
    gap: 15px;
    margin: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
}

.selectWrapper {
    position: relative;
    width: 300px;
}

.dateWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dateInput {
    padding: 5px;
    min-height: 50px;
    border: 3px solid #4E6F2E;
    border-radius: 12px;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    width: 200px;
}

/* Убираем черный бордер при фокусе и сохраняем зеленый */
.dateInput:focus {
    border: 3px solid #4E6F2E !important;
    outline: none !important; /* Убираем стандартный outline */
}

.dateInput::placeholder {
    color: rgb(158, 157, 157);
}

/* Иконка календаря */
.calendarIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1002;
}

/* Стили для календаря */
 .react-datepicker {
    z-index: 10003;
    border: 3px solid #4E6F2E; 
    border-radius: 12px;
 }

.react-datepicker-popper {
    z-index: 10003; 
    margin-top: 5px;
}  

.hiddenDateInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}
  
.btn {
    text-align: center;
    min-width: 180px;
    min-height: 50px;
    background-color: #93C572;
    color: #F5F5DC;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    border: 3px solid #678F4E;
    font-size: 18px;
    padding: 5px;
}

.btn:hover {
    background-color: #678F4E;
    transform: translateY(-2px);
    border: 2px solid #93C572;
}

@media screen and (max-width: 800px) {
    .search {
        flex-direction: column;
        gap: 15px;
    }

    .selectWrapper {
        width: 300px; /* Обертка занимает 300px */
    }

    .select, .dateInput, .btn {
        width: 300px;
    }

    .selectWrapper select {
        max-width: 280px; /* Чуть меньше ширины поля, чтобы уместиться */
        width: 280px; /* Фиксируем ширину выпадающего списка */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select option {
       font-size: 12px;
       max-width: 300px;
    } 
}