.h2 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0 0 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.h {
  width: 100%;
  height: 2px;
  background-color: #678F4E;
  border: none;
}

.container {
  display: flex;
  background-color: #F5F5DC;
  flex-direction: column;
  
}

 .carouselcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  /* width: 95%; */
  /* overflow: hidden; */
  margin: 15px 20px 15px 20px;
  scroll-snap-type: x mandatory; 
}

.carouselTrack {
  display: flex;
  /* overflow: hidden;  */
  border-radius: 12px; /* Должен совпадать с border-radius у изображения */
  scroll-snap-type: x mandatory;
  align-items: center;
  /* gap: 10px; */
  justify-content: center;
  text-align: center;
}

.image {
  transition: transform 0.3s ease-in-out; /* Плавное увеличение */
  border-radius: 12px; /* Закругление углов */
  display: inline !important;
}

.image:hover {
  transform: scale(1.05); /* Немного увеличивает изображение */
}

@media (max-width: 520px) {
  .image {
    width: 240px !important;
    height: 130px !important;
  }
}

@media (max-width: 480px) {
  .image {
    width: 230px !important;
    height: 120px !important;
  }
}

@media (max-width: 460px) {
  .image {
    width: 220px !important;
    height: 110px !important;
  }

  .carouselcontainer {
    margin: 10px;
  }

}

@media (max-width: 420px) {
  .image {
    width: 260px !important;
    height: 150px !important;
  }

  .carouselcontainer {
    margin: 10px;
  }
}


