.container{
  display: flex;
  flex-direction: column;
}

.categorycontainer {
  display: flex;
  gap: 10px;
  margin: 0 20px 0 20px;
  overflow-x: auto; /* Горизонтальная прокрутка */
  scroll-snap-type: x mandatory; /* Притягивание элементов при скролле */
  padding: 10px;
  /* white-space: nowrap;  */
}

.h2Country {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
  font-family: Playwrite India;
  color: #556B2F;
  font-style: italic;
  font-weight: bold;
}

.categoryimage {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
  /* margin-bottom: 10px; */
}

.categorytext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}

.categoryitem:hover .categoryimage {
  transform: scale(1.1); 
}

.noHighlight {
  background-color: transparent !important; /* Убираем закрашивание */
  color: inherit !important; /* Оставляем цвет текста по умолчанию */
}

.otherMonthDay {
  background-color: #f0f0f0 !important; /* Светло-серый фон */
  color: #a0a0a0 !important; /* Серый цвет текста для лучшей читаемости */
}

.categorylink {
  text-decoration: none;
  color: inherit;
}

.alphabetContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 5px;
  margin: 20px 20px 0 20px;
  justify-content: center;
  max-width: 100%; /* Ограничиваем ширину */
  overflow: hidden; /* Скрываем выходящие элементы */
  box-sizing: border-box; /* Учитываем padding и border в размере элемента */
  padding: 5px; /* Немного отступов, чтобы не прижималось к краям */
}

.alphabetLetter {
  background-color: #F5F5DC;
  border: 1px solid #678F4E;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  color: #678F4E;
  transition: background-color 0.3s ease;
}

.alphabetLetter:hover {
  background-color: #678F4E;
  color: white;
}

@media (max-width: 800px) {
  .categorycontainer {
    gap: 10px;
    margin: 0 10px 0 10px;
    padding: 5px;
  }

  .categoryimage {
    width: 150px;
    height: 150px;
  }
  .categorytext {
    font-size: 12px;
  }
  .h2Country {
    font-size: 24px;
  }
  .alphabetLetter {
    padding: 3px;
    font-size: 10px;
  }  
}





 