/* Контейнер для картинки та опису */
.aboutus {
    display: flex;
    /* Робимо горизонтальне вирівнювання */
    align-items: center;
    /* Вирівнювання по вертикалі */
    gap: 20px;
    /* Відстань між картинкою та текстом */
    margin: 50px 20px 20px 20px;
    /* Відступ перед нижнім текстом */
}

/* Стилі для зображення */
.img {
    flex: 1;
    /* Зображення займає половину простору */
    max-width: 500px;
    /* Обмежуємо максимальну ширину */
    height: auto;
    /* Зберігаємо пропорції */
}

/* Стилі для опису */
.description {
    flex: 1;
    /* Опис займає половину простору */
    width: 100%;
    /* На всю ширину */
    text-align: justify;
    /* Вирівнюємо текст по ширині */
    font-size: 17px;
    /* Розмір шрифту */
}

/* Стилі для нижнього тексту */
.text {
    /* width: 100%; */
    text-align: justify;
    margin: 0 20px 20px 20px;
    font-size: 17px;
}

/* Додаткові стилі для контейнера */
.containeraboutus {
    display: flex;
    /* Горизонтальне вирівнювання */
    flex-direction: column;
    /* Вертикальне вирівнювання */
}