@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #FFE4C4; */
  /* --background: #A7C796; */
  --swiper-navigation-color: white !important; /* Белые стрелки */
  --background: white;
  --foreground: bkack;

  .swiper-button-next,
.swiper-button-prev {
  color: white !important;
  font-weight: bold !important;
  /* margin-left:20px !important; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px !important;
  font-weight: bolder !important;
  color: white !important;
  /* margin-right:20px !important; */
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
